In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
from sklearn import preprocessing

In [11]:
df = pd.read_csv('muscle_data.csv')

In [12]:
df.head()

    HR        ABS  percent  nagano  fujino  maeda  yamasaki    name
0  145  18.207547       25       1       0      0         0  nagano
1  120   2.924528       25       1       0      0         0  nagano
2  110  13.301887       25       1       0      0         0  nagano
3  100   4.056604       25       1       0      0         0  nagano
4   80   0.471698       25       1       0      0         0  nagano

In [13]:
x = df.drop(["ABS","name"],axis=1)
y = df[['ABS']]

In [14]:
sscaler = preprocessing.StandardScaler()
x_std = sscaler.fit_transform(df[["HR","percent"]]) 
x["HR"] = x_std[:,0]
x["percent"] =x_std[:,1]

In [15]:
model_lr = LinearRegression()
model_lr.fit(x, y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [16]:
print(pd.DataFrame({"Name":x.columns,
                    "Coefficients":model_lr.coef_[0]}))

       Name  Coefficients
0        HR     -0.632044
1   percent      2.747483
2    nagano      0.403272
3    fujino     -5.576568
4     maeda      2.974734
5  yamasaki      2.198562

In [18]:
print(model_lr.intercept_)

[14.70967995]